.about
{
    padding-top: 120px;
    padding-bottom: 20px;
    background-color: var(--color-gray);
    width: 100%;
    .about__container
    {
        .about__inner
        {
            width: 100%;
            .about__column
            {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: auto;
                grid-gap: 20px;
                width: 100%;
                @media screen and(max-width:1000px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                 }
                .about__column--left
                {
                    width: 100%;
                    .about__title
                    {
                        margin-bottom: 16px;
                        width: 549px;
                        @media screen and(max-width:1000px) {
                            width: 100%;
                        }
                        h2
                        {
                            font-size: 34px;
                            line-height: 42px;
                            font-weight: 400;
                            text-align: left;
                            font-family: var(--font-fugaz);
                            text-transform: uppercase;
                            @media screen and(max-width:800px) {
                                font-size: 22px;
                                white-space: pre-wrap;
                                width: 100%;
                            }
                        }
                    }
                    .about__subtitle
                    {
                        width: 519px;
                        @media screen and(max-width:800px) {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                        h3
                        {
                            font-size: 18px;
                            font-weight: 400;
                            text-align: left;
                            line-height: 28px;
                        }
                    }
                }
                .about__column--right
                {
                    width: 100%;
                    .about__param
                    {
                        margin-bottom: 32px;
                        p
                        {
                            font-size: 16px;
                            line-height: 26px;
                            font-weight: 300;
                            text-align: left;
                        }
                    }
                    .link-more
                    {
                        font-weight: 600;
                        color: var(--color-primary);
                        text-transform: capitalize;
                        padding-bottom: 6px;
                        position: relative;
                        &:hover
                        {
                            &::after
                            {
                                width: 100%;
                                opacity: 1;
                            }
                        }
                        &::after
                        {
                            content: '';
                            width: 0;
                            height: 2px;
                            background-color: var(--color-primary);
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            display: block;
                            transition: all .2s linear;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}