.btn-primary
{
    display: block;
    padding: 20px 56px;
    background-color: var(--color-primary);
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-white);
    font-family: var(--font-fugaz);
    border: 1px solid var(--color-primary);
    text-align: center;
    cursor: pointer;
    @media screen and (max-width:600px){
        padding: 10px 25px;
    }
}
.btn-transparent
{
    border: 1px solid var(--color-white);
    display: block;
    padding: 20px 31px;
    font-weight: 400;
    color: var(--color-white);
    font-family: var(--font-fugaz);
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width:600px){
        padding: 10px 25px;
    }
}