.hero
{
    position: relative;
    height: 679px;
    width: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media screen and (max-width:1000px){
        width: 100%;
        display: flex;
        justify-content: center;
    }
    @media screen and (max-width:414px){
        height: 100%;
        min-height: 100%;
        padding-bottom: 20px;
    }
    &::after
    {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        background: url('../img/after-img.png');
        background-repeat: no-repeat;
        
    }
    .hero__container
    {
        width: 100%;
        z-index: 5;
        .hero__inner
        {
            padding-top: 70px;
            @media screen and (max-width:1000px){
                padding-top: 0;
            }
            .hero__content
            {
                
                .hero__title
                {
                    max-width: 844px;
                    margin-bottom: 16px;
                    @media screen and (max-width:1000px){
                        max-width: 100%;
                        width: 100%;
                    }
                    h1
                    {
                        font-family: var(--font-fugaz);
                        font-size: 36px;
                        color: var(--color-white);
                        text-align: left;
                        line-height: 52px;
                        font-weight: 400;
                        text-transform: uppercase;
                        @media screen and (max-width:1000px){
                            text-align: center;
                            width: 100%;
                        }
                        @media screen and (max-width:530px){
                            font-size: 22px;
                        }
                    }
                }
                .hero__param
                {
                    max-width: 642px;
                    margin-bottom: 43px;
                    @media screen and (max-width:1000px){
                        max-width: 100%;
                        width: 100%;
                    }
                    p
                    {
                        color: var(--color-white);
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 400;
                        @media screen and (max-width:1000px){
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                }
                .hero__buttons
                {
                    display: flex;
                    align-items: center;
                    margin-bottom: 48px;
                    @media screen and (max-width:1000px){
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                    .btn-hero
                    {
                        &:first-child
                        {
                            margin-right: 14px;
                        }
                        &:last-child
                        {
                            i
                            {
                                transition: all .2s linear;
                                margin-left: 23px;
                            }
                        }
                    }
                }
                .icon__list
                {
                    display: flex;
                    align-items: center;
                    @media screen and (max-width:1000px){
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                    .icon__item
                    {
                        margin-right: 25px;
                        &:last-child
                        {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}