// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --color-black: #292929;
  --color-gray: #F8F8F8;
  --color-light: #F1F1F1;
  --color-acent: #333C30;
  --color-span: #404040;
  --color-white: #fff;
  --color-primary: #EB5B1F;
  --font-fugaz: 'Fugaz One', cursive;
  --font-open-sans: 'Open Sans', sans-serif;
}
